<!DOCTYPE html>
<html>
<head>
    <title>BTC-PERPETUAL</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>

    <script>
        // Fetch data from your Django endpoint
        fetch("/api/deribit/")
            .then(response => response.json())
            .then(data => {
                new Chart(document.getElementById("myChart"), {
                    type: "line",
                    data: {
                        labels: data.ticks,
                        datasets: [
                            {
                                label: "Close",
                                data: data.close,
                            },
                            {
                                label: "Open",
                                data: data.open,
                            },
                            {
                                label: "High",
                                data: data.high,
                            },
                            {
                                label: "Low",
                                data: data.low,
                            }
                        ]
                    }
                });
            });
    </script>
</body>
</html>